## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [10]:
import pandas as pd
import numpy as np

In [11]:
country = ['荷屬沙巴', '托克勞 ', '直布羅陀 ', '摩納哥', '梵蒂岡']
data = {'國家': country,
        '人口': np.random.randint(5000,10000, len(country))}
data = pd.DataFrame(data)

In [12]:
data

     人口     國家
0  7229   荷屬沙巴
1  5040   托克勞
2  8219  直布羅陀
3  6483    摩納哥
4  8409    梵蒂岡

In [13]:
print(data.國家[data.人口==data.人口.max()])

4    梵蒂岡
Name: 國家, dtype: object